:host {
	display: flex;
	flex-direction: column;
	padding: 24px 40px;
	overflow: auto;
}

header {
	flex: 1 1;
	padding: 24px 0;

	h2 {
		margin: 0;
		// font-family: "DotGothic16", sans-serif;
		text-align: center;
		font-size: 48px;
	}
}

mat-card.general-info {
	margin-top: 48px;
	padding: 48px 24px;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	gap: 48px;
	border-radius: 48px;
	background-color: var(--bg-second);
	// box-shadow: var(--shadow);

	section.main-characteristics {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px 48px;
		height: min-content;
		flex: 2 1;
	}

	section.character-image {
		flex: 1 1;
		// height: 500px;
		// border: 2px solid #000;
		border-radius: 24px;

		background-color: #ddc;
		border: solid 5vmin #eee;
		border-bottom-color: #fff;
		border-left-color: #eee;
		border-radius: 2px;
		border-right-color: #eee;
		border-top-color: #ddd;
		box-shadow:
			0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
			0 5px 10px 5px rgba(0, 0, 0, 0.25);
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		text-align: center;

		&:before {
			border-radius: 2px;
			bottom: -2vmin;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
			content: "";
			left: -2vmin;
			position: absolute;
			right: -2vmin;
			top: -2vmin;
		}

		&:after {
			border-radius: 2px;
			bottom: -2.5vmin;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
			content: "";
			left: -2.5vmin;
			position: absolute;
			right: -2.5vmin;
			top: -2.5vmin;
		}

		img {
			box-sizing: border-box;
			width: 100%;
			height: 100%;

			// --s: 10px; /* control the size */
			// padding: var(--s);
			// border: calc(2*var(--s)) solid #0000;
			// outline: 1px solid #000;
			// outline-offset: calc(-1*var(--s));
			// background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
		}
	}
}

mat-select {
	color: #fff;
}

mat-label {
	color: #fff;
}
