<header>
	<h2>Создание персонажа</h2>
</header>

<mat-card class="general-info" [formGroup]="form">
	<section class="main-characteristics" formGroupName="general">
		<div class="rec-wrapper">
			<mat-form-field>
				<mat-label>Раса</mat-label>
				<mat-select formControlName="race">
					<mat-option *ngFor="let race of races" [value]="race.id">{{ race.name }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="rec-wrapper">
			<mat-form-field>
				<mat-label>Класс</mat-label>
				<mat-select formControlName="class">
					<mat-option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="rec-wrapper">
			<mat-form-field>
				<mat-label>Уровень</mat-label>
				<mat-select formControlName="level">
					<mat-option *ngFor="let level of levels" [value]="level.id">
						{{ level.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="rec-wrapper">
			<mat-form-field>
				<mat-label>Черты</mat-label>
				<mat-select formControlName="trait">
					<mat-option *ngFor="let level of levels" [value]="level.id">
						{{ level.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</section>

	<section class="character-image">
		<img src="assets/images/test.png" alt="Not found" />
	</section>
</mat-card>
